// app global css in SCSS form

/****************/
/***** TEXT *****/
/****************/

.text-x-small {
  font-size: x-small;
}

.text-small {
  font-size: small;
}

.text-large {
  font-size: large;
}

.text-inherit {
  color: inherit;
}

.text-pre-wrap-break {
  white-space: pre-wrap;
  word-wrap: break-word;
}

@import './quasar.overrides.scss';
