// Extend Quasar palette with custom colors

.text-primary-light {
  color: $primary-dark !important;
}

.bg-primary-light {
  background: $primary-dark !important;
}

.text-primary-dark {
  color: $primary-dark !important;
}

.bg-primary-dark {
  background: $primary-dark !important;
}
